:root {
	--color-1: whitesmoke;
	--color-2: white;
	--color-3: white;
	--color-4: white;
	--color-5: white;
  }
.Header {
	background: linear-gradient( rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.3) );
    height: 80vh;
    background: url("1.jpg") no-repeat;
    background-size: cover;
    padding: 100px 0 58px;
    margin-bottom: 39px;
    position: relative;
    overflow: hidden; 
    backdrop-filter: blur(9px);} 
   
.Header h1 {
   /* настраиваем внешний вид шрифта */
  font-family: sans-serif;
  font-size: 9vw;
  font-weight: 700;

  /* подстраиваем ширину заголовка под самое длинное слово*/
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;

  /* делаем автоматические отступы */
  margin: auto;
  margin-left: auto;
 margin-right:auto;
  /* переводим все буквы в заглавные */
  text-transform: uppercase;

  /* делаем цветные полосы по тексту */
  background: linear-gradient(219deg, 
    var(--color-1) 19%, 
    transparent 19%,transparent 20%, 
    var(--color-2) 20%, var(--color-2)  39%,
    transparent 39%,transparent 40%, 
    var(--color-3) 40%,var(--color-3) 59% ,
    transparent 59%,transparent 60%, 
    var(--color-4) 60%, var(--color-4) 79%,
    transparent 79%, transparent 80%, 
    var(--color-5) 80%);
  /* обрезаем фон по контуру букв */
  background-clip: text;
  -webkit-background-clip: text;

  /* делаем заголовок прозрачным, чтобы был виден цветной фон */
  color: transparent;

}

@media (min-width: 1200px) {
.Header {
    padding: 240px 0;
}
}
@media (min-width: 768px) {
.Header {
    padding: 150px 0;
}
}
.contentik {
    background: whitesmoke;
    padding: 70px 0 80px;
}
.contentik h1 {
    text-align: center;
    font-size: 5vh;
}
.contentik h2 {
    text-align: center;
    font-size: 2vh;
    color: grey;
}

body {
    font-family: sans-serif;
    background-color: rgba(219, 219, 219, 0.76);
    font-weight: bold;
}
a.green{
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
	color: #fff;
	display:block;
	width:30vh;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	padding: 8px 16px;
	text-align:inherit;
	margin: 20px auto;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: background-color 0.1s linear;
	-moz-transition: background-color 0.1s linear;
	-o-transition: background-color 0.1s linear;
	transition: background-color 0.1s linear;        
	}
	a.green {
	background-color: black
	}
			
	a.green:hover {
	background-color: black;
	}
	.wrap {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 75%;
		text-align: center;
		margin-block: 15px;
		position: absolute;
		left: 22vh;
		padding-bottom: 30px;
	}
	
	.informBlock {
		width: 30%;
		height: 300px;
		background: #1b1b1b;
		padding: 30px;
		box-sizing: border-box;
		transition: .4s;
	}
	
	.informBlock i {
		color: #e9204f;
		font-size: 35px;
		margin-top: 20px;
		transition: .4s;
	}
	
	.mainText {
		color: #fff;
		margin: 55px 0 0 0;
		font-size: 20px;
	}
	
	.underlineBlock {
		height: 0;
		width: 35px;
		border-top: 2px solid #e9204f;
		margin-top: 10px;
		transition: .4s;
	}
	
	.secondText {
		color: #fff;
		font-size: 14px;
		margin-top: 15px;
	}
	
	.informBlock:hover {
		background: #e9204f;
	}
	
	.informBlock:hover i {
		color: #fff;
	}
	
	.informBlock:hover .underlineBlock {
		border-color: #fff;
	}
	.contentishe wrap {
		bottom: 30vh;
	}
	.map {
		display: inline-flex;
		margin: 0px auto -70px;
    height: 50vh;
    padding-top: 25px;
    margin-left: 37%;
    padding-bottom: 15px;
	}
	.map iframe {
		border-radius: 3px solid black;
		border:3px solid black
	}
	.whomakeproject {
		height: 2vh;
    color: black;
    margin-bottom: -350px;
    position: absolute;
    display: inline;
	padding-bottom:20px;
	}
	.informBlock a{
		text-decoration: none;
	}
	@media (min-width: 576px) and (max-width: 991px) {
		.map {
			margin-left: auto;
			height:60vh;
		}
	}
	@media (min-width: 1024px)  and (max-width: 1240px) {
		.map {
			margin-left:17%;
			height:60vh;
		}
		.secondText {
			color: #fff;
			font-size: 10px;
			margin-top: 15px;
		}
		}
		@media (min-width: 1250px)  and (max-width: 1490px) { 
			.map {
				margin-left:26%;
				height:60vh;
			
			}
			.secondText {
				color: #fff;
				font-size: 12px;
				margin-top: 15px;
			}
		}
